.homescreen {
    max-width: 1300px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 1rem;
}

.homescreen__title {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 1rem;
    margin-left: 8px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px #ffffff;
}

.homescreen__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
    .homescreen__products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .homescreen__products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .homescreen__products {
        grid-template-columns: repeat(1, 1fr);
    }
}
